.nav {
    text-align: center;
}

.nav__item {
    text-transform: uppercase;
    text-align: center;
    margin: 0px 30px;
}

li {
    list-style: none;
    cursor: pointer;
}

.user {
    font-weight: bold;
}

.album {
    padding-left: 20px;
}

.photo__list {
    display: none;
    cursor: pointer;
}

.photo {
    margin: 20px 20px;
    cursor: pointer;
}

.popup {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
}

.popup_bg {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.popup_img {
    position: relative;
    margin: 0 auto;
    z-index: 2;
    max-height: 94%;
    max-width: 94%;
    margin: 1% 0 0 0;
}

.star {
    width: 2%;
    margin: 57px 25px;
    cursor: pointer;
}

.selected {
    background-color: #f79f1e;
}